.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-link {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.navigation-links1-link1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-left: 32px;
  text-decoration: none;
}
.navigation-links1-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-left: 32px;
}
.navigation-links1-link2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-left: 32px;
  text-decoration: none;
}
.navigation-links1-link3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-left: 32px;
  text-decoration: none;
}








@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links1-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.about-container1 {
  flex: 0 0 auto;
  width: auto;
  height: 812px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-container2 {
  top: 4px;
  right: -2px;
  width: 100%;
  height: 812px;
  display: flex;
  opacity: 0.6;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/img_20231013_0088-2-1500w.jpg");
}
.about-testimonial {
  right: -4px;
  bottom: -135px;
  height: 284px;
  display: flex;
  opacity: 1;
  position: absolute;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
}
.about-text {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Arial Black";
  font-weight: 700;
  margin-bottom: 48px;
  background-color: rgb(255, 255, 255);
}
.about-text1 {
  top: 193px;
  left: 757px;
  position: absolute;
  font-size: 1.5rem;
  font-weight: 300;
  background-color: var(--dl-color-gray-white);
}
.about-text2 {
  left: 718px;
  color: var(--dl-color-gray-500);
  bottom: 21px;
  position: absolute;
  font-weight: 600;
  text-transform: uppercase;
}
.about-image {
  width: 96px;
  height: 109px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.about-nav {
  top: 57px;
  flex: 0 0 auto;
  left: 68px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
}
.about-header {
  top: 452px;
  left: 0px;
  width: 100%;
  display: flex;
  position: absolute;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.about-burger-menu {
  display: none;
}
.about-icon {
  width: 16px;
  height: 16px;
  display: flex;
}
.about-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.about-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.about-image1 {
  height: 2rem;
}
.about-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-icon02 {
  width: 16px;
  height: 16px;
}
.about-icon04 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.about-icon06 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.about-icon08 {
  width: 16px;
  height: 16px;
}
@media(max-width: 991px) {
  .about-text2 {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .about-nav {
    display: none;
  }
  .about-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .about-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .about-text {
    margin-bottom: 32px;
  }
  .about-text1 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .about-text2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-header {
    padding: var(--dl-space-space-unit);
  }
  .about-mobile-menu {
    padding: 16px;
  }
}
