.projects-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.projects-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.projects-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.projects-image {
  width: 160px;
  height: 70px;
  align-self: flex-start;
  object-fit: cover;
}
.projects-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.projects-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.projects-link01 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.projects-link02 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.projects-link03 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.projects-link04 {
  text-decoration: none;
}
.projects-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.projects-icon {
  width: 36px;
  height: 36px;
}
.projects-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.projects-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.projects-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.projects-icon2 {
  width: 24px;
  height: 24px;
}
.projects-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.projects-link05 {
  margin-bottom: var(--dl-space-space-unit);
}
.projects-link06 {
  margin-bottom: var(--dl-space-space-unit);
}
.projects-link07 {
  margin-bottom: var(--dl-space-space-unit);
}
.projects-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
}
.projects-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
}
.projects-features {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.projects-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.projects-text02 {
  width: 605px;
  margin-bottom: var(--dl-space-space-fourunits);
}
.projects-text03 {
  text-align: center;
}
.projects-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.projects-card {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.projects-icon-container {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.projects-image1 {
  width: 200px;
  object-fit: cover;
}
.projects-content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.projects-heading1 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.projects-text04 {
  text-align: center;
}
.projects-container04 {
  flex: 0 0 auto;
  width: 50%;
  height: 30px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
}
.projects-card1 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.projects-icon-container1 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.projects-image2 {
  width: 470px;
  height: 150px;
  object-fit: cover;
}
.projects-content-container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.projects-heading2 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.projects-text05 {
  text-align: center;
}
.projects-container05 {
  flex: 0 0 auto;
  width: 50%;
  height: 30px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
}
.projects-card2 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.projects-icon-container2 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.projects-image3 {
  width: 290px;
  height: 153px;
  object-fit: cover;
}
.projects-content-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.projects-heading3 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.projects-text06 {
  text-align: center;
  font-family: "Arial";
}
.projects-container06 {
  flex: 0 0 auto;
  width: 50%;
  height: 30px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
}
.projects-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.projects-features1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.projects-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.projects-text07 {
  width: 918px;
  margin-bottom: var(--dl-space-space-fourunits);
}
.projects-text08 {
  text-align: center;
}
.projects-cards-container1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.projects-container07 {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  flex-direction: column;
}
.projects-card3 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.projects-icon-container3 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.projects-image4 {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
.projects-content-container3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.projects-heading4 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.projects-text09 {
  text-align: center;
}
.projects-container08 {
  flex: 0 0 auto;
  width: 50%;
  height: 30px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
}
.projects-link12 {
  text-decoration: none;
}
.projects-container09 {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  flex-direction: column;
}
@media(max-width: 991px) {
  .projects-heading {
    text-align: center;
  }
  .projects-text02 {
    text-align: center;
  }
  .projects-text07 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .projects-navbar {
    position: relative;
  }
  .projects-links-container {
    display: none;
  }
  .projects-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .projects-icon {
    fill: var(--dl-color-gray-white);
  }
  .projects-heading-container {
    width: 100%;
  }
  .projects-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .projects-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .projects-card1 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .projects-card2 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .projects-heading-container1 {
    width: 100%;
  }
  .projects-cards-container1 {
    align-items: center;
    flex-direction: column;
  }
  .projects-card3 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 479px) {
  .projects-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .projects-card {
    width: 100%;
  }
  .projects-card1 {
    width: 100%;
  }
  .projects-card2 {
    width: 100%;
  }
  .projects-card3 {
    width: 100%;
  }
}
